<!DOCTYPE html><html lang="uk-UA"><head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Сайт з інтегрованим АІ чатом</title>
    <link href="css/footer.css%2Cqv%3D3.pagespeed.ce.FjP9vszWf0.css" rel="stylesheet">
    <link href="css/swiper-bundle.min.css.pagespeed.ce.lR6ujIpELC.css" rel="stylesheet">
    <link href="css/main.css%2Cqv%3D1741910400.pagespeed.ce.BQqFoXyD7G.css" rel="stylesheet">
    <link href="css/chat.css" rel="stylesheet">
<link rel="icon" href="images/favicon.ico" sizes="any">
<link href="css/header.css%2Cqv%3D3.pagespeed.ce.dK7zaAEJta.css" rel="stylesheet">
<link href="css/footer.css%2Cqv%3D3.pagespeed.ce.FjP9vszWf0.css" rel="stylesheet">
</head>
<body class="">
    <div class="wrapper">
        <div class="wrapper__container">
            <header class="header_new">
                <div class="header-logo">
                    <a href="">
                    <picture>
                        <source srcset="images/logo.webp" type="image/webp">
                        <img src="images/logo.png.pagespeed.ce.SzRV2-s-wK.png" alt="logo">
                    </picture>
                    </a>
                </div>
                <ul class="header-menu">
                    <li><a href="">Як це працює?</a></li>
                    <li><a href="">Про автора</a></li>
                    <li><a href="">Для кого</a></li>
                    <li><a href="">Зміст</a></li>
                    <li><a href="">Відгуки</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
                <div class="header-burger">
                    <img src="images/burger.svg" alt="Меню">
                </div>
                <div class="mob-menu">
                    <div class="wrapper__container">
                        <div class="mob-menu-header">
                            <img class="mob-menu-logo" src="images/logo.png.pagespeed.ce.SzRV2-s-wK.png" alt="">
                            <img class="mob-menu-close" src="images/close.svg" alt="">
                        </div>
                        <ul class="mob-menu-list">
                            <li><a href="">Як це працює?</a></li>
                            <li><a href="">Про автора</a></li>
                            <li><a href="">Для кого</a></li>
                            <li><a href="">Зміст</a></li>
                            <li><a href="">Відгуки</a></li>
                            <li><a href="">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <section id="sc1" class="sc1">
                <div class="sc1__col1">
                    <h1>Як
                        <img src="images/ua.webp.pagespeed.ce.xk-ercMV1X.webp" alt="">
                        стати інвестором <br>(практична інструкція)<br>
                        <span>Це додаток, завдяки якому ти почнеш інвестувати 💸</span>
                    </h1>
                    <a href="" class="btn">Дізнатися більше</a>
                </div>
                <div class="sc1__col2">
                    <picture>
                        <source srcset="images/sc1%402x_sm.png 1280w, images/sc1%402x.png">
                        <img src="images/sc1.png.pagespeed.ce.cE5XiRkdmg.png">
                    </picture>
                </div>
            </section>
            <section id="sc2" class="sc2">
                <h2>Як це працює?</h2>
                <div class="sc2__row">
                    <div class="sc2__row-col">
                        <img src="images/image%2CP201200.png.pagespeed.ce.qTlxfiG3S3.png">
                        <div>
                            <h3>Додаток</h3>
                            <p class="title">Встановлюєш додаток</p>
                            <p class="descr">Там є весь необхідний теоретичний і практичний контент, щоб почати
                                інвестувати. Проходиш крок за кроком.</p>
                        </div>
                    </div>
                    <div class="sc2__row-col">
                        <img src="images/image%2CP201201.png.pagespeed.ce.wD80Qw_Ikd.png">
                        <div>
                            <h3>Комʼюніті інвесторів</h3>
                            <p class="title">Реєструєшся на форумі</p>
                            <p class="descr">Взаємодієш із комʼюніті інвесторів на форумі, обговорюючи інвестиційні
                                ідеї та хто як приймає інвестиційні рішення.</p>
                        </div>
                    </div>
                    <div class="sc2__row-col">
                        <img src="images/artificial-intelligence%2CP202.png.pagespeed.ce.x2dM8OsE3j.png">
                        <div>
                            <h3>Штучний інтелект</h3>
                            <p class="title">Підключаєшся до системи</p>
                            <p class="descr">Твої відповіді та взаємодію фіксує штучний інтелект та підлаштовує контент
                                в залежності від твого ризик-профілю, інсайдерства тощо.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="sc4" class="sc4">
                <h2>Для кого підійде?</h2>
                <div class="sc4__row first">
                    <div class="sc4__row-item wrap-up">
                        <div class="img-wrap">
                            <img src="images/1.png.pagespeed.ce.pYmTnd9Gm0.png">
                        </div>
                        <div class="descr">
                            <p>
                                Ти хочеш <b>інвестувати</b>,
                                але в тебе поки не має інвестиційного капіталу
                            </p>
                        </div>
                    </div>
                    <div class="sc4__row-item">
                        <div class="img-wrap">
                            <img src="images/2.png.pagespeed.ce.qvpod8Il2O.png">
                        </div>
                        <div class="descr">
                            <p>
                                В тебе вже є інвестиційний капітал, але <b>не знаєш, що робити далі</b>
                            </p>
                        </div>
                    </div>
                    <div class="sc4__row-item wrap-up">
                        <div class="img-wrap">
                            <img src="images/3.png.pagespeed.ce.5phmADd2ac.png">
                        </div>
                        <div class="descr">
                            <p>Ти маєш досвід інвестування
                                і хочеш його <b>систематизувати</b></p>
                        </div>
                    </div>
                    <div class="sc4__row-item">
                        <div class="img-wrap">
                            <img src="images/4.png.pagespeed.ce.V8zaSSEa1e.png">
                        </div>
                        <div class="descr">
                            <p>Ти хочеш сформувати свій <b>надійний інвестиційний портфель</b></p>
                        </div>
                    </div>
                </div>
                <div class="sc4__row">
                    <div class="sc4__row-item wrap-up">
                        <div class="img-wrap">
                            <img src="images/5.png.pagespeed.ce.JOtWF8W16i.png">
                        </div>
                        <div class="descr">
                            <p>
                                В тебе є капітал, але <b>гроші під подушкою</b> не працюють
                                та навіть є постійні
                                <b>втрати від інфляції</b>
                            </p>
                        </div>
                    </div>
                    <div class="sc4__row-item">
                        <div class="img-wrap">
                            <img src="images/6.png.pagespeed.ce.h5xd5XF4OI.png">
                        </div>
                        <div class="descr">
                            <p>Ти хочеш знати, як виявити <b>надійні інвестиційні інструменти</b></p>
                        </div>
                    </div>
                    <div class="sc4__row-item wrap-up">
                        <div class="img-wrap">
                            <img src="images/7.png.pagespeed.ce.NwK1GSr1JK.png">
                        </div>
                        <div class="descr">
                            <p>Ти мрієш про створення <b>інвестиційного доходу</b></p>
                        </div>
                    </div>
                    <div class="sc4__row-item">
                        <div class="img-wrap">
                            <img src="images/8.png.pagespeed.ce.Ls_EuUj19L.png">
                        </div>
                        <div class="descr">
                            <p>
                                Ти хочеш жити життям
                                <b>сучасного інвестора</b>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section id="sc81" class="sc81">
            <h2>Про навчання
                словами учасників</h2>
            <div class="sc81__slider">
                <div class="swiper swiper3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="images/0.png.pagespeed.ce.yQcjbcIkWQ.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/1.png.pagespeed.ce.KZ7bPU5SsP.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/2.png.pagespeed.ce.aS9Q_2HDAP.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/3.png.pagespeed.ce.nmgQR_GlM8.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/4.png.pagespeed.ce.TeKyEaxU4O.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/5.jpg.pagespeed.ce.LRPuD72Op9.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/6.png.pagespeed.ce.ANzGA0cvOe.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/7.png.pagespeed.ce.MZAc_o5eOu.png">
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </section>
<section id="sc11" class="sc11">
  <input type="hidden" id="chat_id"/>

  <div class="chat-container">

    <div class="chat-messages">
      <div class="chat-message ai">
        Привіт! Я АІ помічник!
      </div>
    </div>

    <div class="chat-input">
      <input type="text" placeholder="Напиши повідомлення...">
      <button>Відправити</button>
    </div>

  </div>
</section>
<footer class="footer_new">
    <div class="f_title">Контакти</div>
    <div class="r1">
        <div id="footer-contact" class="c1">
        </div>
        <div class="c2">
            <ul>
                <li><a target="_blank" rel="nofollow" href="">Політика конфіденційності</a></li>
                <li><a target="_blank" rel="nofollow" href="">Договір оферти</a></li>
                <li>
                    <img style="width: 32px; height: 32px;" src="images/mastercard.svg">
                    <img style="width: 32px; height: 32px;" src="images/visa.svg">
                </li>
            </ul>
        </div>
        <div class="c3">
            <a target="_blank" href="">
                <img src="images/app_store.svg" alt="AppStore">
            </a>
            <a target="_blank" href="">
                <img src="images/google_play.svg" alt="GooglePlay">
            </a>
        </div>
    </div>
    <hr>
    <div class="r2">
        <div class="social">
            <a target="_blank" href="">
                <img src="images/email.svg">
            </a>
            <a target="_blank" href="">
                <img src="images/telegram.svg">
            </a>
            <a target="_blank" href="">
                <img src="images/instagram.svg">
            </a>
            <a target="_blank" href="">
                <img src="images/facebook.svg">
            </a>
            <a target="_blank" href="">
                <img src="images/tiktok.svg">
            </a>
            <a target="_blank" href="">
                <img src="images/youtube.svg">
            </a>
        </div>
    </div>
</footer>

        </div>
    </div>
    <script src="js/jquery-4.0.0.min.js"></script>
    <script type="text/javascript" src="js/chat.js"></script>

</body></html>
